# Xata Postgres connection
POSTGRES_URL_LOCALHOST=postgresql://xata:<password>@<workspace-id>.us-east-1.xata.tech/xata?sslmode=require
XATA_API_KEY=<your-xata-api-key>

# Xata branching
XATA_BRANCHING_ENABLED=True
